<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST DASHBOARD</title>

    <link rel="stylesheet" href="{{ url_for('static',  filename='css/jquery.gridster.min.css') }}" />

    {% if context.css_files %}
        {% for file in context.css_files %}
            <link rel="stylesheet" href="{{ url_for('static',  filename=file) }}" />
        {% endfor %}
    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.gridster.min.js') }}"></script>

    {% if context.js_files %}
        {% for file in context.js_files %}
            <script type="text/javascript" src="{{ url_for('static', filename=file) }}"></script>
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
        $(function(){
            $(".gridster ul").gridster({
                widget_margins: [10, 10],
                widget_base_dimensions: [140, 140]
            });
        });
    </script>
</head>
<body>
    <div id="container">
        <div class="gridster">
            <ul>
                {{ context.grid_elements|safe }}
            </ul>
        </div>
    </div>
</body>
</html>